<!-- trades/templates/trades/home.html -->

{% extends 'trades/base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Bienvenue sur TradeHero</h1>
    <p class="lead">Gérez vos trades et stratégies héroïquement.</p>
    {% if not user.is_authenticated %}
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Connexion</a>
    <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Inscription</a>
    {% endif %}
</div>
{% endblock %}
