<!-- trades/templates/trades/import_csv.html -->
{% extends 'trades/base.html' %}

{% block title %}Importer des Trades{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Importer des Trades depuis un Fichier CSV ou TXT</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.csv_file.label_tag }} {{ form.csv_file }}
        </div>
        <div class="form-row">
            <div class="col">
                {{ form.start_date.label_tag }} {{ form.start_date }}
            </div>
            <div class="col">
                {{ form.end_date.label_tag }} {{ form.end_date }}
            </div>
        </div>
        <div class="form-group mt-3">
            {{ form.strategy.label_tag }} {{ form.strategy }}
        </div>
        <button type="submit" class="btn btn-primary">Importer</button>
        <a href="{% url 'trade_list' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
